/*

!/.gitignore
!/README.md
!/LICENSE.md
!/idmapping.py
!/idmappingsetup.xml
!/runidmapping.sh
!/rule_to_set_cronjob_for_author_idmapping_export.rule
!/component_to_set_cronjob_for_author_idmapping_export.rulecomponent
!/installidmapping.sh
